/* 
    Document   : royal
    Created on : 4/09/2013, 01:17:14 PM
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

/* title bar */
#cat1{width:50%; float:left;}
#cat2{width:50%; float:right;}
#categorias2{display:none;}

.ui-li-heading{font-size:29px!important;}
.ui-li-desc{font-size:19px!important;}

ui-body img{width:100%}

body {
    background: url(../img/bg_noise.png);
    font-family: Georgia,"Times New Roman", Times, serif;or: #333;
    height:100%;
    margin:0;
    padding:0;
    height:100%;
    font-family: arial;
    font-size: 1.4em;
}
#logo{
    width: 90%;
    margin: 0 auto;
    padding: .5em 0;
}

#logohead{height: 30px;
          position: absolute;
          right: 15px;
          top: 7px;}

#leyen{color: darkmagenta;
       margin: .3em;
       font-size: 75%;
}

.content{ padding-bottom:100px; 
          min-height:100%;
          position:relative}

footer{text-shadow: none!important;
       width:100%;
       height:15%;
       position:absolute;
       bottom:0;
       left:0;
       font-weight: normal!important;
}
footer p{ font-size: 60%!important;
          padding: 1em;
          text-align: justify;
          line-height: 17px;
}
#valor{width: 40%;}
#fot{padding:.5em;}

#logofot1{float:left;}
#logofot2{float:right;}
/*    .header a .ui-link span*/

.mini-bag {
    /*background: url(../img/sprite_layout.png) no-repeat scroll -127px 1px / 925px 32px transparent;*/
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 13px;
    margin: 4px 7px 0 0;
    padding: 11px 0 0 11px;
    text-shadow: none;
    width: 50px;
}
.mini-bag2 {
    background: url(../img/sprite_layout.png) no-repeat scroll -127px 1px / 925px 32px transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 13px;
    height: 22px;
    margin: -7px 7px 0 0;
    padding: 11px 0 0 11px;
    text-shadow: none;
    width: 22px;
}

.mini {
    color: darkmagenta;
    display: block;
    float: right;
    font-size: 25px;
    height: 22px;
    margin: 4px 100px 0 0;
    padding: 11px 0 0 1px;
    text-shadow: none;
    width: 22px;
}
.mini2 {
    color: darkmagenta;
    display: block;
    float: left;
    font-size: 19px;
    height: 22px;
    margin: 4px 100px 0 0;
    padding: 11px 0 0 1px;
    text-shadow: none;
    width: 22px;
}

#fondillo{background-color: gainsboro;
          margin-top: .1em;
          float: left;
          width: 100%;
          height: 2em;
          opacity: 8;
          line-height: 32px;}

.view-tenth{overflow: hidden; height: 15em; margin:1em;}
.view-tenth img{width:100%;overflow: hidden;position: relative; }
.ui-bar-e{background-color:#000; background:#fff!important; border: #000!important;background-image: #000!important;}

@media all and (min-width: 800px){
    #navcat {
        width: 300px;
        float: left;
        margin-right: 20px;
    }
    #grid {
        width: 100%;
        float: left; }  

    #valor{width: 80%;}
}  

@media all and (max-width: 799px){
    #valor{width: 80%;}
    #navcat {
        width: 100%;
    }
    #grid {
        width: 100%;
    }

}   


@media all and (max-width: 650px){
    #categorias1{display:none;}
    #categorias2{display:block;} 

}

@media all and (max-width: 430px){

    #valor{width: 100%;}
    #logohead{height: 20px;
              position: absolute;
              right: 15px;
              top: 12px;}  
    .view-tenth{overflow: hidden; height: 7em; margin:1em;} 

}
@media all and (max-width: 270px){
    .edgarMini{
        color: #FFFFFF;
        display: block;
        font-size: 13px;
        text-shadow: none;
        width: 50px;
        margin: 0px !important;
        padding: 0px !important;
    }
    .edgarPrecio{
        color: darkmagenta;
        display: block;
        font-size: 25px;
        padding-top: 5px;
        text-shadow: none;
        margin: 0px !important;
        padding: 0px !important;
    }
    h1{
        font-size: 1em;
        text-align: center;
    }
    h2 #sku{
        font-size: .78em;
    }
    .aliHome{
        width: 100%;
        text-align: center !important;
    }
    .ui-btn-text{
        font-size: 1.5em;
        white-space: initial;
    }
    .añadir{
        font-size: .99em;
    }
    #precio{
        float: left !important;
    }
    /*    .ui-btn-up-b .ui-btn-inner .ui-btn-text:hover{
            font-size: .1em;
        }*/
}

@media all and (max-width: 300px){
    #logohead{display:none;}


}
/* stack all grids below 40em (640px) */
@media all and (max-width: 600px) {
    .my-breakpoint .ui-block-a, 
    .my-breakpoint .ui-block-b, 
    .my-breakpoint .ui-block-c,
    .my-breakpoint .ui-block-d,
    .my-breakpoint .ui-block-e { 
        width: 100%!important; 
        float:none; 
    }
    .my-breakpoint .ui-block-a img, 
    .my-breakpoint .ui-block-b img, 
    .my-breakpoint .ui-block-c img,
    .my-breakpoint .ui-block-d img,
    .my-breakpoint .ui-block-e img{ 
        width: 100%!important; 
        float:none; 
    }

}

/*#logo{
    width:100%;
}
#cat1{
    width:50%;
    float:left;
}
#cat2{
    width:50%; 
    float:right;
}
#categorias2{
    display:none;
}
body {
    background: url(../img/bg_noise.png);
    font-size: 13px;
    font-family: Georgia,"Times New Roman", Times, serif;
    line-height: 20px;
    color: #333;
    height:100%;
    margin:0;
    padding:0;
    height:100%;
    font-family: arial;
    font-size: 100%
}
#logohead{
    height: 30px;
    position: absolute;
    right: 15px;
    top: 7px;}

#leyen{
    color: darkmagenta;
    margin: .3em;
    font-size: 75%;
}

.content{ 
    padding-bottom:100px; 
    min-height:100%;
    position:relative
}
footer{
    text-shadow: none!important;
    width:100%;
    height:15%;
    position:absolute;
    bottom:0;
    left:0;
    font-weight: normal!important;
}
footer p{ 
    font-size: 70%!important;
    padding: 1em;
    text-align: justify;
    line-height: 12px;
}
#valor{
    width: 20%;
}
#fot{
    padding:.5em;
}
#logofot1{
    float:left;
}
#logofot2{
    float:right;
}
    .header a .ui-link span
.mini-bag {
    background: url(../img/sprite_layout.png) no-repeat scroll -127px 1px / 925px 32px transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 13px;
    height: 22px;
    margin: 4px 7px 0 0;
    padding: 11px 0 0 11px;
    text-shadow: none;
    width: 22px;
}
.mini {
    color: darkmagenta;
    display: block;
    float: right;
    font-size: 19px;
    height: 22px;
    margin: 4px 7px 0 0;
    padding: 11px 0 0 1px;
    text-shadow: none;
    width: 20%;
}
.mini2 {
    color: darkmagenta;
    display: block;
    float: left;
    font-size: 19px;
    height: 22px;
    margin: 4px 7px 0 0;
    padding: 11px 0 0 1px;
    text-shadow: none;
    width: 22px;
}
#fondillo{
    background-color: gainsboro;
    margin-top: .1em;
    float: left;
    width: 100%;
    height: 2em;
    opacity: 8;
    line-height: 32px;
}
.view-tenth{
    overflow: hidden; 
    height: 15em; 
    margin:1em;
}
.view-tenth img{
    width:100%;
    overflow: hidden;
    position: relative; 
}
.ui-bar-e{
    background-color:#000;
    background:#fff!important; 
    border: #000!important;
    background-image: #000!important;
}
.ui-mobile, .ui-mobile .ui-page, .ui-mobile [data-role="page"],
.ui-mobile [data-role="dialog"], .ui-page, .ui-mobile .ui-page-active {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}
@media all and (min-width: 800px){
    #navcat {
        width: 300px;
        float: left;
        margin-right: 20px;
    }
    #grid {
        width: 100%;
        float: left;
    }  
}  
@media all and (max-width: 799px){
    #navcat {
        width: 100%;
    }
    #grid {
        width: 100%;
    }

}   
@media all and (max-width: 650px){
    #categorias1{
        display:none;
    }
    #categorias2{
        display:block;
    } 
}
@media all and (max-width: 430px){
    #valor{
        width: 70%;
    }
    #logohead{
        height: 20px;
        position: absolute;
        right: 15px;
        top: 12px;
    }
    .view-tenth{
        overflow: hidden; 
        height: 7em; 
        margin:1em;
    } 
}
@media all and (max-width: 300px){
    #logohead{
        display:none;
    }
}
 stack all grids below 40em (640px) 
@media all and (max-width: 600px) {
    .my-breakpoint .ui-block-a, 
    .my-breakpoint .ui-block-b, 
    .my-breakpoint .ui-block-c,
    .my-breakpoint .ui-block-d,
    .my-breakpoint .ui-block-e { 
        width: 100%!important; 
        float:none; 
    }
    .my-breakpoint .ui-block-a img, 
    .my-breakpoint .ui-block-b img, 
    .my-breakpoint .ui-block-c img,
    .my-breakpoint .ui-block-d img,
    .my-breakpoint .ui-block-e img{ 
        width: 100%!important; 
        float:none; 
    }
}*/
@media ( min-width: 40em ) {
    /* Show the table header rows and set all cells to display: table-cell */ 
    .my-custom-breakpoint td,
    .my-custom-breakpoint th,
    .my-custom-breakpoint tbody th,
    .my-custom-breakpoint tbody td,
    .my-custom-breakpoint thead td,
    .my-custom-breakpoint thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */ 
    .my-custom-breakpoint td .ui-table-cell-label,
    .my-custom-breakpoint th .ui-table-cell-label { 
        display: none;
    }
}

#leyendaCarrito,#orderNumber{
    color: darkmagenta;
    font-size: 30px;
    margin: 1.3em;
    width: 100%;
    text-align: center;
}
#orderNumber{
    color: darkmagenta;
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    margin: 0px;
    position: absolute;
}
#felicidades{
    color: black;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 0px 0px 100px 0px;
    margin: 0px;
}
#total{
    color: darkmagenta;
    font-size: 170%;
    width: 100%;
    text-align: right;

}
.menuPie {
    padding-bottom: 20px;
    background: #defabc;
    margin-top: 529px;
    width: 100%;
    text-align: -webkit-center;
}
